body {
    background-color: black;

}

header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo .box {
    display: flex;
    justify-content: center;
}

.conteudo .box ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.conteudo .box ul li {
    display: flex;
    width: 160px;
    justify-content: center;
    flex-direction: column;
}

.conteudo .box ul li figure {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border: 2px solid transparent;
}

.conteudo .box ul li figure:hover {
    border: solid 2px white;
}

.conteudo .box ul li figure .user:hover {
    border-radius: 8px;
    transform: scale(1.3);
    background-color: white;
    transition: 0.8s;

}

.conteudo .box ul li figure .add {
    opacity: 0.5;
}

.conteudo .box ul li figure .add:hover {
    opacity: 10;
    transition: 0.5s;
}


.conteudo .box ul li p {
    display: flex;
    justify-content: center;
    color: gray;
}

.titulo h1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #121214;
    color: white;
    padding: 16px 45px;
}

button:hover {
    background-color: white;
    color: #121214;
}