html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    background-color: #121214;

}

.container.conteudo {
    display: flex;
    justify-content: center;
}

.container .conteudo .logo {
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.container .conteudo .titulo {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 50px;

}

.container .conteudo .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container .conteudo .avatar ul {
    display: flex;
}

.container .conteudo .avatar ul li {
    margin: 0 18px 0 18px;
}

.container .conteudo .avatar ul li figure {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.container .conteudo .avatar ul li figure:hover {
    border: #FFFFFF solid 3px;

}

.container .conteudo .avatar ul li img:hover {
    border-radius: 8px;
    width: 175px;
    height: 175px;
    transform: rotate();
    background-color: white;
}

.container .conteudo .avatar ul li p {
    display: flex;
    justify-content: center;
    color: #9C9C9C;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

button {
    display: block;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #121214;
    color: white;
    padding: 16px 45px;
}

button:hover {
    background-color: white;
    color: #121214;
}